@font-face {
    font-family: komika;
    src: 
        url("Fonts/komtxt__-webfont.woff2") format("woff2"),
        url("Fonts/komtxt__-webfont.woff") format("woff");
}

@font-face {
    font-family: pacifico;
    src:
        url("Fonts/pacifico-regular-webfont.woff2") format("woff2"),
        url("Fonts/pacifico-regular-webfont.woff") format("woff");
}

:root {
    --asx-color: red;
    --bg-color: #FFFFF0;
    --photo-color: rgb(255, 255, 255);
    --form-color: #222831; 
    --fieldset-color: white;
    --box-shadow-color: rgba(0, 0, 0, 0.3);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: komika, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    display: flex;
    height: 100vh;
    font-size: clamp(0.8rem, 1.2rem, 2rem);
}

form {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--bg-color);
    color: var(--form-color);
}

form > * {
    flex: 1;
}

span {
    color: var(--asx-color);
}

.logo > p {
    font-family: pacifico;
}

.image {
    position: relative;
    width: clamp(30%, 35%, 50%);
    height: 100%;
}

.image img {
    display: block;
    width: 100%;
    height: 100%;
}

.image .logo,
.image .credit {
    color: var(--photo-color);
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    max-width: 80%;
    text-align: center;
}

.image .logo {
    gap: 0.2rem;
    top: 10%;
    display: flex;
    align-items: flex-end;
    font-size: clamp(1em, 4vw, 3em);
}

.image .credit {
    bottom: 0;
    text-wrap: nowrap;
    font-size: clamp(0.6em, 1vw, 2em);
    overflow: hidden;
    text-overflow: ellipsis;
}

.image .logo img {
    width: 5vw;
    height: 5vw;
}

form header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

form header > :nth-child(1) {
    height: 30%;
}

form header > :nth-child(n) {
    margin-left: 2rem;
    width: 80%;
}

form fieldset {
    border: none;
    background-color: var(--fieldset-color);
    box-shadow: var(--box-shadow-color) 0rem 0.5rem 1rem,
                var(--box-shadow-color) 0rem -0rem 0.5rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2rem;
}

.legend {
    font-size: 1.6rem;
    margin-top: -1rem;
}

fieldset .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    height: 25%;
    font-size: 1rem;
    gap: 2rem;
}

fieldset .container > :nth-child(n) {
    flex: 0 0 50%;
}

input {
    width: 100%;
}